[Interface]
Address = {{ client_address }}
PrivateKey = {{ client_private_key }}
DNS = {{ dns_servers }}

[Peer]
PublicKey = {{ server_public_key }}
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = {{ server_endpoint }}